/build
/javadoc
/out
/junit_report
/coverage
/dist
/.idea/workspace.xml
/.idea/uiDesigner.xml

/tmp
/.idea/dictionaries/xp.xml
*.log

password.properties
copy-dss-jars.sh
/util
token
/bin
packaging_jar/
jacoco.exec
utility-package-lib
zip-package-lib
contiperf-report
.idea/kotlinc.xml
.idea/libraries/
target/
testFiles/tmp/readonly/no_access.txt
