/build
/javadoc
/out
/junit_report
/coverage
/dist
/.idea/workspace.xml
/tmp
/.idea/dictionaries/xp.xml
digidoc4j.iml
*.log
password.properties
copy-dss-jars.sh
util/cpp.sh
util/cpp_dd4j.sh
util/dd4J.sh