/build
/target
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/dictionaries/xp.xml
.idea/libraries
*.log
/utility-package-lib
/zip-package-lib
/buildNumber.properties
/Old*
/logback.xml
!/src/main/etc/logback.xml
/lib
