<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>digidoc4j.log</File>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5p [%logger{10}:%line] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>digidoc4j.%i.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>512KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5p [%file:%line] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>