<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>digidoc4j.log</File>
    <encoder>
      <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5p [%logger{10}:%line] - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>digidoc4j.%d{dd.MM.yyyy}.log</fileNamePattern>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5p [%file:%line] - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <if condition='property("digidoc4j.mode").contains("TEST")'>
        <then>
          <level>ERROR</level>
        </then>
        <else>
          <level>DEBUG</level>
        </else>
      </if>
    </filter>
  </appender>


  <root level="DEBUG">
    <appender-ref ref="file"/>
    <appender-ref ref="stdout"/>
  </root>
</configuration>